* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Public Sans", serif;
  background: #eee;
  color: rgb(17, 24, 39);
  height: 100%;
  min-height: 100vh;
}

@keyframes bling {
  0% {
    outline: 2px solid red;
  }
  50% {
    outline: none;
  }
  100% {
    outline: 2px solid red;
  }
}

.blink {
  animation: bling 0.5s step-start 3;
}

@mixin form-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 80vw;
  height: 40rem;
  max-height: 80vh;
  margin: 0 auto;
  padding: 3rem 5rem;
  background-color: rgba(201, 18, 170, 0.6);
  border-radius: 15px;
  box-shadow: 5px 6px 13px rgba(0, 0, 0, 0.3);
  position: relative;

  label {
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    font-weight: 600;

    & > span {
      font-weight: 400;
      text-transform: lowercase;
      font-style: italic;
    }

    // checkbox input
    &:nth-child(4) {
      flex-direction: row;
    }

    // photo input
    &:nth-child(5) {
      border: 1px solid #ccc;
      display: inline-block;
      background-color: #ccc;
      border-radius: 5px;
      padding: 6px 12px;
      cursor: pointer;
      visibility: inherit;
    }

    input {
      height: 1.8rem;
      border-radius: 5px;
      border: none;
      margin-top: 0.4rem;
      padding: 5px 10px;
      border: 1px solid #ccc;

      &[type="checkbox"] {
        width: 1.5rem;
        height: 1.5rem;
        margin-left: 4rem;
      }

      &[type="file"] {
        background-color: #222;
        height: 0;
        width: 0;
        position: absolute;
        left: -20000%;
      }
    }
  }

  button {
    height: 2rem;
    width: 5rem;
    margin: 0 auto;
    text-transform: capitalize;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  @media (min-width: 800px) {
    width: 80%;
  }

  @media (max-width: 600px) {
    padding: 3rem 2rem;
  }
}

.wrapper {
  width: 960px;
  max-width: 90vw;
  margin: 0 auto;
}

header {
  margin-bottom: 0.5rem;

  h1 {
    font-family: "Luckiest Guy", serif;
    font-weight: 700;
    text-align: left;
    padding-top: 2rem;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #4f8073;
  }

  p {
    padding-left: 1rem;
  }
}

button.switch {
  height: 1.6rem;
  padding: 3px 5px;
  border-radius: 7px;
  border: 1px solid #bbb;
  text-transform: capitalize;
  margin-left: 50%;
  margin-bottom: 1rem;
  transform: translateX(-50%);
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
}

.content {
  width: 100%;
  min-height: 60vh;
  position: relative;
}

form#main-form {
  @include form-content;
}

// image caption
form > span {
  position: absolute;
  bottom: 17%;
  width: 20rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.modal {
  background: #354b45;
  background: #92adce;
  background: #98B0A9;
  position: absolute;
  z-index: 100;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  border-right: 0.2rem solid #f3f;
  border-left: 0.2rem solid #f3f;
}

form#edit-form {
  @include form-content;

  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 200;
  height: 100%;
  padding: 1rem;
  background: none !important;
  box-shadow: none;
  padding-top: 2rem;

  label {
    color: #fff;

    &:nth-child(5) {
      color: #444;
    }
  }

  &::before {
    content: "Editing...";
    color: #fff;
    margin-left: 50%;
    transform: translateX(-50%);
    font-size: 1.2rem;
    position: absolute;
    top: 1rem;
  }
  @media (max-width: 600px) {
    padding: 3rem 1rem;
  }
}

table {
  border-collapse: collapse;
  border: 3px solid black;
  margin: 0 auto;
  width: 100%;

  td,
  th {
    border: 1px solid black;
    padding: 3px;
  }

  th {
    text-transform: capitalize;
    text-align: left;

    // hungry header
    &:nth-child(4) {
      width: 4rem;

      // photo header
      &:nth-child(5) {
        width: 110px;
      }

      // edit
      &:nth-child(6) {
        width: 4rem;
      }
    }
  }

  td {
    text-align: center;
    position: relative;

    &:nth-child(5) {
      padding: 5px;
    }

    & img {
      object-fit: cover;
      width: 100px;
      height: 100px;
    }
    // edit button
    // & button {
    //   position: absolute;
    //   right: -2rem;
    // }
    & button {
      padding: 2px;
      width: 100%;
      border-radius: 4px;
      border: 1px solid rgba(0, 0, 0, 0.3);
    }
  }

  tfoot td {
    text-align: center;
    font-style: italic;
  }

  caption {
    margin-bottom: 0.5rem;
  }
}
